.description {
  font-size: 15px;
  font-family: "Martian Mono", monospace;
  line-height: 25px;
  margin-bottom: 20px;
  font-weight: 400;
}

.section1 {
  width: 200px;
  padding: 10px;
  text-align: left;
}
.techDescription {
  font-size: 15px;
  font-weight: 400;
  font-family: "Martian Mono", monospace;
  line-height: 27px;
  margin-bottom: 10px;
}

.technologiesContainer {
  display: flex;
  width: 300px;
  flex-wrap: wrap;
  gap: 8px;
  padding: 10px;
}
.techItem {
  border: 1px solid #d7cbea;
  border-radius: 6px;
  background-color: #dbd8e1;
  padding: 5px;
  font-size: 18px;
  font-weight: 600;
  transition: font-size 0.3s ease-in-out;
}

.techItem:hover {
  font-size: 25px;
}

.section2 {
  display: flex;
  scroll-behavior: smooth;
  overflow: scroll;
  /* scrollbar-width: none; */
  height: 600px;
}
/* .ssss {
  width: 400px;
  overflow: scroll;
  scrollbar-width: none;
}

.ssss:hover {
  scrollbar-width: 5px;
} */

.education {
  position: fixed;
  top: 30px;
  right: 30px;
  /* display: flex;
  flex-direction: column;
  gap: 5px; */
}

.link {
  /* font-family: "Martian Mono", monospace; */
  font-weight: 600;
  font-size: 20px;
  color: #0a1027;
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}
@media (min-width: 768px) {
  .description {
    font-size: 15px;
    line-height: 25px;
  }
  .link {
    font-size: 20px;
  }
  .techDescription {
    font-size: 15px;
  }
  .techItem {
    font-size: 18px;
  }
}
