.headline {
  font-family: "Martian Mono", monospace;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 20px;
}

.headlineContainer {
  overflow: hidden;
  border-bottom: 1px solid black;
}

.listContainer {
  padding-top: 20px;
  scroll-behavior: smooth;
  overflow: scroll;
  scrollbar-width: none;
}
.projectList {
  list-style: none;
}

.projectItem {
  font-family: "Martian Mono", monospace;
  font-size: 15px;
  margin-bottom: 15px;
  cursor: pointer;
  transition: font-size 0.3s ease-in-out;
}
.projectItem:hover,
.projectItem:focus {
  font-size: 20px;
}
.link {
  font-family: "Martian Mono", monospace;
  color: #0a1027;
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}

@media (min-width: 768px) {
  .headline {
    font-size: 35px;
  }
  .headlineContainer {
    width: 600px;
  }
  .listContainer {
    width: 600px;
    height: 600px;
  }
  .projectItem {
    font-size: 20px;
  }
  .projectItem:hover,
  .projectItem:focus {
    font-size: 30px;
  }
}
